

#logo {
	margin-bottom: 30px;
	margin-top: -30px;
	height: 80px;
}

#data-table td {
	
		width: 200px;
	
}

#pred-img {
	height: 250px;
	width: 500px;
	padding-bottom: 25px;
}

#pred-title {
	padding-bottom: 100px;
}
/* #table {
	float:right;
} */